# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.
#
# If you need help with YAML syntax, here are some quick references for you:
# https://learn-the-web.algonquindesign.ca/topics/markdown-yaml-cheat-sheet/#yaml
# https://learnxinyminutes.com/docs/yaml/
#
# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.

title: SwimOS Documentation
company: Nstream
company_website: https://nstream.io
email: your-email@example.com
description: >- # this means to ignore newlines until "baseurl:"
  Write an awesome description for your new site here. You can edit this
  line in _config.yml. It will appear in your document head meta (for
  Google search results) and in your feed.xml site description.
baseurl: "" # the subpath of your site, e.g. /blog
url: "" # the base hostname & protocol for your site, e.g. http://example.com
github_repository: https://github.com/swimos/swimos-docs
permalink: /:categories/:year/:month/:day/:title

postcss:
  cache: false

# Build settings
plugins:
  - jekyll-feed
  - jekyll-seo-tag
  - jekyll-postcss
  - jekyll-toc

# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
exclude:
  - .sass-cache/
  - .jekyll-cache/
  - .ruby-version
  - gemfiles/
  - Gemfile
  - Gemfile.lock
  - node_modules/
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/

# Every top level section is actually a collection. Their files are in a _folder in src/
collections:
  fundamentals:
    output: true
    name: "SwimOS Fundamentals"
    order:
      - index.md
      - meet.md
    weight: 1
  start:
    output: true
    name: "Getting Started"
    order:
      - index.md
    weight: 2
  tutorials:
    output: true
    name: "Tutorials"
    order:
    weight: 3
  reference:
    output: true
    name: "Reference"
    order:
      - index.md
      - agents.md
      - lanes.md
      - links.md
      - recon.md
      - warp.md
      - tut-index.md
      - web-agents.md
      - web-agents-server-recon.md
      - command-lanes.md
      - value-lanes.md
      - map-lanes.md
      - join-value-lanes.md
      - join-map-lanes.md
      - demand-value-lanes.md
      - demand-map-lanes.md
      - planes.md
      - traits.md
      - downlinks.md
      - server-downlinks.md
      - forms.md
      - timers.md
      - ingress-bridges.md
      - egress-bridges.md
      - http-ingress-bridges.md
      - http-lanes.md
      - auth-policy.md
    weight: 4
  meta:
    output: true
    name: "Meta"
    weight: 5
  posts:
    output: false

# The directory that contains our collections
collections_dir: src

defaults:
  - scope:
      path: ""
    values:
      toc: true

# jekyll-toc Config
# toc:
#   min_level: 1
#   max_level: 2
#   ordered_list: false
#   no_toc_section_class: no_toc_section
#   list_id: toc
#   list_class: section-nav
#   sublist_class: ''
#   item_class: toc-entry
#   item_prefix: toc-
