<nav class="flex flex-1 flex-col">
  <ul role="list" class="flex flex-1 flex-col gap-y-7">
    <li>
      <ul role="list" class="-mx-2 space-y-1">
        {% if site.collections %}
        {% assign collections = site.collections | sort: 'weight' %}
        {% for collection in collections %}
        {% if collection.label != "posts" %}
        <li>
          <div>
            <button type="button"
              class="hover:bg-eggshell hover:text-vermillion-orange flex items-center w-full text-left rounded-md p-2 gap-x-3 text-sm leading-6 font-semibold text-gray-700"
              aria-controls="sub-menu-1" aria-expanded="false">
              <!-- Expanded: "rotate-90 text-gray-500", Collapsed: "text-gray-400" -->
              <svg class="text-gray-400 h-5 w-5 shrink-0" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd"
                  d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                  clip-rule="evenodd" />
              </svg>
              {{ collection.name | upcase }}
            </button>

            <!-- Expandable link section, show/hide based on state. -->
            <ul class="mt-1 px-2" id="sub-menu-1">

              {% assign items = site[collection.label] %}
              {% for item in items %}
              {% if item.hidden != true %}
              <li>
                <a href="{{ item.url | absolute_url }}"
                  class="{% if item.url == page.url %} bg-eggshell font-extrabold text-magenta {% else %} hover:bg-eggshell hover:text-vermillion-orange {% endif %} block rounded-md py-2 pr-2 pl-9 text-sm leading-6 text-gray-700">{{
                  item.title }}</a>
              </li>
              {% endif %}
              {% endfor %}
            </ul>
          </div>
        </li>
        {% endif %}
        {% endfor %}
        {% endif %}
      </ul>
    </li>
  </ul>
</nav>