<h3 id="swim-create"><a class="anchor" href="#swim-create" aria-hidden="true"><span class="octicon octicon-link"></span></a>swim-create</h3>

The swim-create CLI tool lets you get started quickly by creating a basic skeleton for a swim project.

To install the latest version of the CLI tool you could run:
<div class="language-plaintext highlighter-rouge"><div class="highlight"><pre class="highlight"><code>curl -L https://github.com/nstreamio/swim-create/releases/latest/download/swim-create-x86_64-unknown-linux-gnu.tar.gz | sudo tar -xz -C /usr/local/bin
</code></pre></div></div>
or alternatively download the latest release from:
<a href="https://github.com/nstreamio/swim-create/releases/latest/"><code class="language-plaintext highlighter-rouge">https://github.com/nstreamio/swim-create/releases/latest/</code></a>

You can then create a swim project using:
<div class="language-plaintext highlighter-rouge"><div class="highlight"><pre class="highlight"><code>swim-create &lt;PROJECT_NAME&gt;
</code></pre></div></div>