<div class="rounded-md bg-eggshell p-4 my-5">
    <div class="flex">
        <div class="flex-shrink-0">
            <svg class="h-8 w-8 text-magenta" viewBox="0 0 448 512" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd"
                    d="M96 0C43 0 0 43 0 96V416c0 53 43 96 96 96H384h32c17.7 0 32-14.3 32-32s-14.3-32-32-32V384c17.7 0 32-14.3 32-32V32c0-17.7-14.3-32-32-32H384 96zm0 384H352v64H96c-17.7 0-32-14.3-32-32s14.3-32 32-32zm32-240c0-8.8 7.2-16 16-16H336c8.8 0 16 7.2 16 16s-7.2 16-16 16H144c-8.8 0-16-7.2-16-16zm16 48H336c8.8 0 16 7.2 16 16s-7.2 16-16 16H144c-8.8 0-16-7.2-16-16s7.2-16 16-16z"
                    clip-rule="evenodd" />
            </svg>
        </div>
        <div class="ml-3">
            <h3 class="text-lg font-medium text-magenta mt-1 no_toc">
                Cookbook
            </h3>
            <div class="mt-2 text-sm text-deep-magenta prose-strong:text-magenta">
                <p>
                    This guide has a corresponding <a class="text-deep-kaimurasaki" href="{{ page.cookbook }}">cookbook</a> with working examples.
                    Please see the <a href="https://github.com/swimos/cookbook/blob/master/README.md">README</a> for
                    more information on how to run these projects.
                </p>
            </div>
        </div>
    </div>
</div>
