{% if include.collection %}
  {% assign collection-label = include.collection-label %}
  {% assign collection = include.collection %}
{% else %}
  {% assign collection-label = page.collection %}
  {% assign collection = site[page.collection] %}
{% endif %}
{% assign groups = collection | where_exp: "item", "item.group" | group_by: "group" %}
{% assign topics = site.data.docs-topics[collection-label] %}

<div class="not-prose py-6 sm:py-8 space-y-16">
{% for group in groups %}
  {% assign topic = topics | find: "topic", group.name %}
  <div>
    <!-- Group header -->
    <div class="max-w-2xl mb-8">
      <h3 class="flex items-center text-2xl sm:text-3xl font-semibold leading-8 text-kaimurasaki-800">{{ group.name }}</h3>
    {% if topic.blurb %}
      <div class="mt-2 text-lg leading-8 text-kaimurasaki-700">{{ topic.blurb | markdownify }}</div>
    {% endif %}
    </div>
    <!-- Group items -->
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-x-4 gap-y-8">
    {% for doc in group.items %}
    {% unless doc.hidden %}
      <article class="group/doc relative w-full max-w-xl flex rounded-lg shadow-sm shadow-swim-dark-blue/40 hover:filter-none hover:shadow-md hover:shadow-swim-blue transition-[filter] ease-out ">
        <div class="grow p-6 bg-white group-hover/post:bg-swim-dark-blue transition ease-out rounded-lg">
          <h3 class="text-lg font-semibold leading-6 text-swim-dark-blue group-hover/post:text-white transition ease-out">
            <a href="{{ doc.url | relative_url }}"><span class="absolute inset-0"></span>{{ doc.title }}</a>
          </h3>
        {% if doc.description %}
          <div class="mt-4 line-clamp-3 text-sm leading-6 text-kaimurasaki-800 group-hover/post:text-kaimurasaki-900 transition ease-out">{{ doc.description }}</div>
        {% endif %}
        </div>
      </article>
    {% endunless %}
    {% endfor %}
    </div>
  </div>
{% endfor %}
</div>
