<footer aria-labelledby="footer-heading" class="sticky basis-full bg-swim-dark-blue border-t-4 border-swim-blue">
  <h2 id="footer-heading" class="sr-only">Footer</h2>
  <div class="mx-auto max-w-7xl px-6 py-12 md:flex md:items-center md:justify-between lg:px-8">
    <div class="flex justify-center space-x-6 md:order-2">
      {%- include footer-social.html -%}
    </div>
    <div class="mt-8 md:order-1 md:mt-0">
      <p class="text-center text-xs leading-5 text-white">&copy; 2015-{{ 'now' | date: "%Y" }} <a
          href="{{ site.company_website }}">{{ site.company | escape }}</a>. All rights reserved.</p>
    </div>
  </div>
</footer>