<script type="text/javascript">
    if (navigator.userAgent.indexOf("Chrome") != -1 || navigator.userAgent.indexOf("Firefox") != -1) {
      var e = ["%c Created by SWIM team at NStream. %c @SWIM.inc %c www.nstream.io", "display:block; padding:5px; background: #4171B8; color:#fff;", "display:block; padding:5px; background: #6ccbf4; color:#fff;", "display:block; padding:5px;"];
      console.log.apply(console, e)
    }
</script>

<script>
    const updateActiveSection = (function () {
      const toc = [];
      document.querySelectorAll("#toc > li a").forEach(function (link) {
        const section = document.querySelector(link.hash);
        if (section) {
          toc.push({link, section});
        }
      });
      return function (event) {
        if (window.innerWidth < 1280) {
          return;
        }
        let found = false;
        toc.forEach(function ({link, section}) {
          const bounds = section.getBoundingClientRect();
          if (!found && section.getBoundingClientRect().top >= 60) {
            found = true;
            link.classList.add("!text-swim-blue");
          } else {
            link.classList.remove("!text-swim-blue");
          }
        });
      };
    })();
    updateActiveSection();
</script>
