<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {%- seo -%}
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | absolute_url }}">
  <link rel="icon" type="image/png" href="{{ '/assets/images/favicon_x128.png' | absolute_url }}" />
  <script src="https://kit.fontawesome.com/86e2a1c58e.js" crossorigin="anonymous"></script>
  {%- feed_meta -%}
  <link rel="sitemap" type="application/xml" title="Sitemap" href="{{ '/sitemap.xml' | absolute_url }}">
  {%- include google-analytics.html -%}
</head>
