<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {%- seo -%}
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | absolute_url }}">
  <link rel="icon" type="image/png" href="{{ '/assets/images/favicon_x128.png' | absolute_url }}" />
  <script src="https://kit.fontawesome.com/86e2a1c58e.js" crossorigin="anonymous"></script>
  {%- feed_meta -%}
  <link rel="sitemap" type="application/xml" title="Sitemap" href="{{ '/sitemap.xml' | absolute_url }}">
  {%- include google-analytics.html -%}
  <!-- TODO: Add these as proper dependencies -->
  <script defer src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
  <!-- Alpine Plugins -->
  <!--<script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/intersect@3.x.x/dist/cdn.min.js"></script>-->
  <script src="https://cdn.jsdelivr.net/npm/@alpinejs/collapse@3.x.x/dist/cdn.min.js" defer></script>
  <!-- Alpine Core -->
  <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js" defer></script>
</head>
