<nav class="bg-swim-dark-blue" x-data="{ isOpen: false }">
  {%- include banner.html -%}
  <div class="mx-auto px-2 sm:px-4 lg:px-8">
    <div class="flex h-20 justify-between">
      <div class="flex px-2 lg:px-0">
        <div class="flex flex-shrink-0 items-center">
          <img class="block max-w-[156px] max-h-[168px] lg:hidden" src="{{ '/assets/images/marlin-swim-blue.svg' | absolute_url }}"
            alt="Nstream Logo">
          <img class="hidden max-w-[156px] max-h-[168px] lg:block" src="{{ '/assets/images/marlin-swim-blue.svg' | absolute_url }}"
            alt="Nstream Logo">
        </div>

        <div class="hidden lg:ml-6 lg:flex lg:space-x-8">
          <a href="{{ '/' | relative_url }}"
            class="inline-flex items-center border-b-2 border-transparent px-1 pt-1 text-[15px] font-bold text-white hover:text-swim-blue hover:border-swim-blue">
            HOME
          </a>

          <div class="flex flex-1 items-center text-white border-b-2 border-transparent hover:text-swim-blue hover:border-swim-blue">
            <div x-data="{ open: false }" class="relative">
              <button x-on:click="open = true"
                class="inline-flex items-center px-1 pt-1 text-[15px] font-bold "
                type="button">
                <span class="mr-1">DOCUMENTATION</span>
                <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                  style="margin-top:3px">
                  <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
                </svg>
              </button>
              <ul x-show="open" x-on:click.away="open = false"
                class="bg-white text-gray-700 rounded shadow-lg absolute py-2 mt-1" style="min-width:15rem" x-cloak>

                {% if site.collections %}
                {% assign collections = site.collections | sort: 'weight' %}
                {% for collection in collections %}
                {% if collection.label != "posts" %}
                <li>
                  <a href="{{ collection.label | absolute_url }}/index.html" class="block hover:bg-gray-200 whitespace-no-wrap py-2 px-4">
                    {{ collection.name }}
                  </a>
                </li>
                {% endif %}
                {% endfor %}
                {% endif %}

              </ul>
            </div>
          </div>

          <a href="{{ '/blog' | absolute_url }}"
            class="inline-flex items-center border-b-2 border-transparent px-1 pt-1 text-[15px] font-bold text-white hover:text-swim-blue hover:border-swim-blue">
            BLOG
          </a>

          <a href="{{ '/community' | absolute_url }}"
            class="inline-flex items-center border-b-2 border-transparent px-1 pt-1 text-[15px] font-bold text-white hover:text-swim-blue hover:border-swim-blue">
            COMMUNITY
          </a>

        </div>
      </div>

      {%- include search.html -%}

      <!-- Mobile menu button -->
      <div class="flex items-center lg:hidden">
        <button @click="isOpen = !isOpen"
          class="inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-100 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-vermillion-orange"
          aria-controls="mobile-menu" aria-expanded="false">
          <span class="sr-only">Open main menu</span>
          <svg class="block h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
            aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
          </svg>
          <svg class="hidden h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
            aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>

      <div class="hidden lg:ml-4 lg:flex lg:items-center">

        {%- include header-social.html -%}

      </div>
    </div>
  </div>

  <!-- Mobile menu -->
  <div class="lg:hidden" id="mobile-menu" x-show="isOpen" @click.away="isOpen = false">
    <div class="space-y-1 pb-3 pt-2">
      <a href="{{ '/' | relative_url }}"
        class="block border-l-4 border-transparent py-2 pl-3 pr-4 text-white font-medium hover:border-gray-300 hover:bg-gray-50 hover:text-gray-800">
        Home
      </a>
      
      {% if site.collections %}
      {% assign collections = site.collections | sort: 'weight' %}
        {% for collection in collections %}
          {% if collection.label != "posts" %}
            <a href="{{ collection.label | absolute_url }}/index.html"
              class="block border-l-4 border-transparent py-2 pl-3 pr-4 text-white font-medium hover:border-gray-300 hover:bg-gray-50 hover:text-gray-800">
              {{ collection.name }}
            </a>
          {% endif %}
        {% endfor %}
      {% endif %}

      <a href="{{ '/community' | absolute_url }}"
        class="block border-l-4 border-transparent py-2 pl-3 pr-4 text-white font-medium hover:border-gray-300 hover:bg-gray-50 hover:text-gray-800">
        Community
      </a>

    </div>
  </div>
</nav>
