<div class="flex justify-between my-4">
    <div>
    {% if page.previous %}
      <a href="{{ page.previous.url | absolute_url }}" class="group flex items-center">
        <svg aria-hidden="true" viewBox="0 0 3 6" class="w-auto h-1.5 mr-3 group-hover:text-vermilion overflow-visible transition ease-out">
          <path fill="none" stroke="currentcolor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" d="M3 0L0 3L3 6"/>
        </svg>
        <span class="block group-hover:text-vermilion transition ease-out">{{ page.previous.title }}</span>
      </a>
    {% endif %}
    </div>
  
    <div>
    {% if page.next %}
      <a href="{{ page.next.url | absolute_url }}" class="group flex items-center">
        <span class="block group-hover:text-vermilion transition ease-out">{{ page.next.title }}</span>
        <svg aria-hidden="true" viewBox="0 0 3 6" class="w-auto h-1.5 ml-3 group-hover:text-vermilion overflow-visible transition ease-out">
          <path fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" d="M0 0L3 3L0 6"/>
        </svg>
      </a>
    {% endif %}
    </div>
  </div>