<div class="grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-x-8 gap-y-8">
    {% for doc in site.reference %}
    {% if doc.name != "index.md" %}
    <div class="group col-span-1 h-80 flex flex-col justify-between bg-white rounded-xl shadow-xl p-6">
        <h2
            class="mt-3 text-lg font-semibold leading-6 no-underline text-deep-magenta group-hover:text-vermillion-orange">
            {{ doc.title }}
        </h2>
        <p class="mt-5 text-sm leading-6 text-gray-600">
            {{ doc.description }}
        </p>
        <div class="">
            <p class="float-right">
                <a href="{{ doc.url | absolute_url }}"
                    class="text-sm font-semibold leading-6 text-deep-magenta no-underline hover:underline">
                    View Documentation <span aria-hidden="true">→</span>
                </a>
            </p>
            {% if doc.cookbook %}
            <p class="">
                <a href="{{ doc.cookbook }}"
                    class="text-sm font-semibold leading-6 text-deep-magenta no-underline hover:underline">
                    View Cookbook <span aria-hidden="true">→</span>
                </a>
            </p>
            {% endif %}
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>
