<!doctype html>
<html class="w-screen min-h-full scroll-pt-[calc(48px+20px)] lg:scroll-pt-[calc(60px+20px)] bg-white scroll-smooth" lang="{{ page.lang | default: site.lang | default: 'en' }}">
  {%- include head.html -%}
  <body class="overflow-x-hidden">
    {% include google-tag-noscript.html %}
      <!-- Header -->
      {%- include banner.html -%}
      {%- include header.html sticky=true -%}

      <!-- Main content -->
      <main class="w-screen h-full">
        {{ content }}
      </main>

      <!-- Footer -->
      {%- include footer.html -%}
    {%- include footer-scripts.html -%}
    
  </body>
</html>