<!doctype html>
<html class="w-screen min-h-full scroll-pt-[calc(48px+20px)] lg:scroll-pt-[calc(60px+20px)] bg-white scroll-smooth" lang="{{ page.lang | default: site.lang | default: 'en' }}">
  {%- include head.html -%}
  {%- include docs-feedback-widget.html -%}
  <body class="overflow-x-hidden">
    {% include google-tag-noscript.html %}
    <div class="flex flex-wrap items-start bg-white">
      <!-- Header -->
      {%- include banner.html -%}
      {%- include header.html sticky=false -%}
      {%- include docs-header.html sticky=true -%}

      <!-- Left margin -->
      <div class="grow lg:grow-0 xl:grow basis-[1px] lg:basis-4"></div>
      <!-- Sidebar -->
      <aside class="hidden lg:block lg:top-[60px] lg:w-[224px] lg:py-10 overflow-x-none overflow-y-auto">
        {%- include docs-sidebar.html -%}
      </aside>

      <!-- Main content -->
      <main class="w-screen max-w-[768px] lg:w-[784px] lg:max-w-[784px] xl:w-[800px] xl:max-w-[800px] grow lg:grow-0 px-6 lg:px-8 xl:px-10 py-10 lg:mb-14 prose prose-code:before:hidden prose-code:after:hidden">
        <h1 class="text-swim-dark-blue">{{ page.title }}</h1>
        {{ content | inject_anchors }}
        <hr class="mb-0 border-t-vermilion"/>
        {%- include prev-next.html -%}
      </main>

      <!-- Table of contents -->
      <aside class="hidden xl:block xl:sticky xl:top-[60px] xl:w-[224px] xl:max-h-[calc(100vh-60px)] xl:py-10 overflow-x-none overflow-y-auto">
        <div class="group flex gap-x-4 mb-2 text-xs font-medium items-center">
          <i class="fa-brands fa-github transition ease-out group-hover:text-swim-blue"></i>
          <a href="{{ site.github_repository}}/edit/main/src/{{page.relative_path }}" class="group-hover:text-swim-blue">Edit on GitHub</a>
        </div>
        <hr class="pb-1" />
        {% if page.toc %}
        <div x-data @scroll.window="updateActiveSection">
          <h2 class="flex items-center text-xs font-medium leading-6 tracking-wider uppercase text-kaimurasaki-800">On this page</h2>
          {% toc %}
        </div>
        {% endif %}
      </aside>
      <!-- Right margin -->
      <div class="grow lg:grow-0 xl:grow basis-[1px] xl:basis-4"></div>

      <!-- Footer -->
      {%- include footer.html -%}
    </div>
    {%- include footer-scripts.html -%}
    
  </body>
  <script src="/assets/js/copy-code.js"></script>
</html>